{% extends 'layout.html' %}
{% block content %}
    <div class="container">
      <h1>Setup your new Store</h1>
      <br>
      <form action ="/signup" method = "post"> 
        <label>Store Name</label>
        <p>{{ form.storename(placeholder="e.g Hope Ventures") }}</p>

        <label>Store URL</label>
        <p>{{ form.storeurl(placeholder="") }}</p>


        <label>Store Description</label>
        <p>{{ form.description(placeholder="e.g We sell luxury clothes.") }}</p>


        <label>Email to notify when order placed</label>
        <p>{{ form.description(placeholder="email.") }}</p>

        <label>Address</label>
        <p>{{ form.storeaddress(placeholder="e.g 124 Street, Lagos.") }}</p>

        <label>City</label>
        <p>{{ form.storecity(placeholder="e.g Ikeja") }}</p>

        <label>State</label>
        <p>{{ form.storestate(placeholder="e.g Lagos.") }}</p>

        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error</strong> {{ error }}</p>
      {% endif %}
      {% for message in get_flashed_messages() %}
         {{ message }}
      {% endfor %} 
      <p>Click <a href="/logout">here</a> to logout.</p>             
    </div>
{% endblock %}